@keyframes grow {
  0% {
    transform: scale(1%);
  }

  25% {
    transform: scale(100%);
  }

  50% {
    transform: scale(70%);
  }

  75% {
    transform: scale(80%);
  }

  100% {
    transform: scale(100%);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 30%;
  border-radius: 10px;
  background-color: inherit;
  color: var(--secondary);
  box-shadow: var(--back-shadow) 1.5px 1px 2.6px;
  animation: 1s ease-in 0s 1 grow;
}

.home i {
  padding-top: 20px;
  animation: 1s ease-in 0s 1 grow;
}

.home input {
  border: 0;
  border-radius: 5px;
  font: inherit;
  padding: 5px;
  margin: 20px;
  background-color: inherit;
  color: inherit;
  box-shadow: var(--back-shadow) 1px 1px 2.6px;
  animation: 1s ease-in 0s 1 grow;
}

.dump-list li {
  list-style-type: ">";
  padding-inline-start: 1ch;
}
